<header class="head">
	<div class="head__layers">
		<!-- <div class="head__layer head__layer--stars  js-layer" data-offset="0.7"></div>
		<div class="head__layer head__layer--stars2  js-layer" data-offset="0.6"></div> -->
		<div class="head__layer head__layer--ships-1 js-layer" data-offset="0.1"></div>
		<div class="head__layer head__layer--ships-2 js-layer" data-offset="0.4"></div>
		<div class="head__layer head__layer--ships-3 js-layer" data-offset="0.1"></div>
		<div class="head__layer head__layer--ships-4 js-layer" data-offset="0.4"></div>
		<div class="head__layer head__layer--station js-layer" data-offset="0.2"></div>
		<!-- <div class="head__layer head__layer--mountains"></div> -->
	</div>
</header>
