.joinrpg-roles-table {
  font-size: 14px;
  margin-bottom: 16px !important;
  border: 1px solid #888;
  TD {
    border-width: 1px 0;
    border-color: #888;
  }
}

.joinrpg-roles-location-header,
.joinrpg-roles-directclaim {
  font-weight: bold;

  background-color: rgba(55,86,116,.2);
}

.joinrpg-roles-location-description {
  font-style: italic;
  P {
    margin: 0;
  }
}
