.nav {
  @include bp(wide) {
    position: absolute;
    top: -32px;
    left: 30%;

    margin-bottom: 0;
  }

  margin-bottom: 16px;
}

.nav__item {
  @include bp(wide) {
    font-size: 16px;

    margin-right: 12px;

    color: color(link, top);
    &:hover {
      color: lighten(color(link, top), 15%);
    }
  }

  font-size: 15px;
  font-weight: bold;
  line-height: 1;

  display: inline-block;

  margin-right: 4px;

  vertical-align: middle;
  text-decoration: none;

  color: color(link);
}
