<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ролевая игра живого действия по мотивам романов Л. М. Буджолд «Сага о Форкосиганах». Ленобласть, май 2019 года, МГ «Флоренция»">
    <meta name="author" content="МГ «Флоренция»">
    <meta name="title" content="РИ «Барраяр. Опасная игра»" />
    <meta name="keywords" content="ролевая игра, РИ, Барраяр">
    <meta property="og:site_name" content="BRR2019" />
    <meta property="og:title" content="РИ «Барраяр. Опасная игра»" />
    <meta property="og:url" content="http://barrayar2017.ru" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:description" content="Ролевая игра живого действия по мотивам романов Л. М. Буджолд «Сага о Форкосиганах». Ленобласть, май 2017 года, МГ «Флоренция»" />
    <link rel="image_src" href="http://barrayar2017.ru/static/i/dest/share.jpg">
    <meta property="og:image" content="http://barrayar2017.ru/static/i/dest/share.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="420" />
    <meta name="twitter:image" content="http://barrayar2017.ru/static/i/dest/share.jpg" />
    <meta name="twitter:title" content="РИ «Барраяр. Опасная игра»" />
    <meta name="twitter:description" content="Ролевая игра живого действия по мотивам романов Л. М. Буджолд «Сага о Форкосиганах». Ленобласть, май 2019 года, МГ «Флоренция»" />
    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        РИ «Барраяр. Опасная игра»
      {% endif %}
    </title>
    <link rel="stylesheet" href="/static/css/website/website.css" type="text/css">
    <script>(function(d){var f=function(){var h=d.getElementsByTagName('head')[0],l=d.createElement('link');l.rel='stylesheet';l.href='https://fonts.googleapis.com/css?family=Neucha&amp;subset=cyrillic';h.appendChild(l)},r=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;if(r){r(f)}else{window.addEventListener('load',f)}})(document)</script>
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Neucha&amp;subset=cyrillic"></noscript>
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><![endif]-->
</head>

<body class="{% if page.url == '/' %}is-main{% endif %}">
  {% include head.html %}

  <div class="wrap">
    <article class="content">
      <h1 class="content__title"><a href="/" class="content__title-link"><span class="content__title-main">#BRR2019</span>: <span class="content__title-sub">Опасная игра</span></a></h1>

      {% include social.html %}

      {% include nav.html %}

      {{ content }}

    </article>
  </div>

  {% include scripts.html %}

</body>

</html>
