@mixin close($length, $width: 1px, $color: #fff, $padding: 0) {
  position: relative;

  display: inline-block;

  width: $length + $padding * 2;
  height: $length + $padding * 2;

  @if ($padding > 0) {
    padding: $padding;
  }

  &:before,
  &:after {
    position: absolute;
    top: ($length - $width) / 2 + $padding;
    left: $padding;

    display: block;

    width: $length;
    height: $width;

    content: "";

    background: $color;
  }

  &:before {
    transform: rotate(45deg);

  }

  &:after {
    transform: rotate(-45deg);
  }
}
