.head {
  position: relative;

  height: 28vh;
  max-height: 480px;

  .is-main & {
    @include bp(wide) {
      height: 60vh;
    }

    height: 40vh;
  }
}

.head__layers {
  position: absolute;

  width: 100%;
  height: 100%;
}

.head__layer {
  position: absolute;
}

.head__layer--stars {
  @include background-retina(
  'website/components/head/stars-large.png',
  'website/components/head/stars-large.png',
  $bg-size: auto
  );

  width: 100%;
  height: 100%;

  background-position: top left;
}

.head__layer--stars2 {
  @include background-retina(
  'website/components/head/stars-large.png',
  'website/components/head/stars-large.png',
  $bg-size: auto
  );

  width: 100%;
  height: 100%;

  background-position: bottom right;
}

.head__layer--ships-1 {
  @include bp(small wide) {
    display: none;
  }

  @include background-retina(
  'website/components/head/ships-1.png',
  'website/components/head/ships-1@2x.png',
  $bg-size: contain
  );

  top: 70%;
  right: 30%;

  background-repeat: no-repeat;

  width: 100px;
  height: 100px;
}

.head__layer--ships-2 {
  @include bp(small wide) {
    width: 130px;
    height: 130px;
    top: 0;
    right: 14%;
  }

  @include background-retina(
  'website/components/head/ships-2.png',
  'website/components/head/ships-2@2x.png',
  $bg-size: contain
  );

  top: 10%;
  right: 30%;

  background-repeat: no-repeat;

  width: 100px;
  height: 100px;
}

.head__layer--ships-3 {
  @include bp(small wide) {
    display: none;
  }

  @include background-retina(
  'website/components/head/ships-3.png',
  'website/components/head/ships-3@2x.png',
  $bg-size: contain
  );

  top: 70%;
  left: 26%;

  background-repeat: no-repeat;

  width: 100px;
  height: 100px;
}

.head__layer--ships-4 {
  @include bp(small wide) {
    display: none;
  }

  @include background-retina(
  'website/components/head/ships-4.png',
  'website/components/head/ships-4@2x.png',
  $bg-size: contain
  );

  top: 12%;
  left: 26%;

  background-repeat: no-repeat;

  width: 120px;
  height: 120px;
}

.head__layer--station {
  @include bp(small wide) {
    top: -50%;
  }
  .is-main & {
    top: 9%;
  }
  @include background-retina(
  'website/components/head/station.png',
  'website/components/head/station@2x.png',
  $bg-size: contain
  );

  width: 380px;
  height: 340px;

  background-repeat: no-repeat;

  top: -30%;
  left: 50%;

  margin-left: -200px;
}

@keyframes stationRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
